[submodule "submodules/linq2db"]
	path = submodules/linq2db
	url = git@github.com:ili/linq2db.git
	branch = master
[submodule "submodules/ClickHouse-Net"]
	path = submodules/ClickHouse-Net
	url = git@github.com:ili/ClickHouse-Net.git
	branch = master
